@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #1e1e1e;
    overflow-x: hidden;
}

.container
{
    margin: 2rem auto;
    width: 90%;

}

.header
{
    height: 4rem;
    margin-bottom: 3rem;
}

.header h1
{
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #282828;
    border: 2px solid darkslategray;
    color: #dddddd;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    position: relative; /*(to use right-left-top-bottom coordinations)*/
    animation: header;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes header
{
    0% {top: -8rem; opacity: 0%;}
    100% {top: 0; opacity: 100%;}
}

.main
{
    color: azure;
    font-family: 'Caveat', cursive;
    line-height: 1.5;
    font-size: 1.5rem;
}

.text-left
{
    opacity: 0; /*(opacity 0-1)*/
    border-radius: 1rem;
    background-color: #282828;
    border: 2px solid darkslateblue;
    padding: 1rem;
    margin-right: 55%;
    margin-top: 2rem;
    text-align: left;
    position: relative;
    animation: TextLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes TextLeft
{
    0% {left: -100rem; opacity: 0;}
    75% {left: 5rem}
    100% {left: 0; opacity: 1;}
}

.text-right
{
    opacity: 0;
    border-radius: 1rem;
    background-color: #282828;
    border: 2px solid darkslateblue;
    margin-left: 55%;
    padding: 1rem;
    margin-top: 2rem;
    text-align: right;
    position: relative;
    animation: TextRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

}

@keyframes TextRight
{
    0% {right: -100rem; opacity: 0;}
    75% {right: 5rem}
    100% {right: 0; opacity: 1;}
}

.info
{
    text-align: center;
}

.btn
{ 
    opacity: 0;
    border-radius: 1rem;
    color: azure;
    background-color: #282828;
    border: 2px solid darkslateblue;
    font-family: 'Caveat', cursive;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    animation: Button;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes Button 
{
    0% {opacity: 0}
    100% {opacity: 1}
}

#hr
{
    margin-bottom: 0.5rem;
}

.footer
{
    opacity: 0; 
    color: white;
    text-align: center;
    animation: Footer;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes Footer 
{
    0% {opacity: 0}
    100% {opacity: 1}
}